html {
  background: $background-color;
  box-sizing: border-box;
}
main {
  margin: auto;
  padding: 50px 0;
  @include min-media-breakpoint($breakpoint-tablet) {
    padding: 50px 100px;
  }
}

.container {
  margin: auto;
  width: 320px;
  @include min-media-breakpoint($breakpoint-tablet) {
    width: 450px;
  }
}
