html {
  background: rgb(2, 0, 36);
  box-sizing: border-box;
}
main {
  margin: auto;
  padding: 50px 0px;
  @include min-media-breakpoint($breakpoint-mobileXS) {
    padding: 50px 10px;
  }
}

.container {
  margin: auto;
  width: 320px;
  @include min-media-breakpoint($breakpoint-tablet) {
    width: 450px;
  }
}
