@import url('https://fonts.googleapis.com/css2?family=Major+Mono+Display&family=Open+Sans:ital,wght@0,300..800;1,300..800');

body {
  line-height: 2rem;
}
body,
.home__section a {
  font-family: 'Open Sans', sans-serif;
  color: $text-color;
}

a {
  color: $link;
}

.home__section,
.home__external-link {
  color: $background-color;
}

.home__section {
  code {
    font-size: 1rem;
  }
}

.demo-infos {
  font-size: 0.8rem;
}

.highlight {
  font-weight: bold;
}
