// 1. Configuration and helpers
@import './abstracts/variables', './abstracts/mixins', './abstracts/functions';

// 2. Vendors
@import 'vendors/normalize';

// 3. Base stuff
@import './base/base', './base/typography';

// 4. Layout-related sections
@import './layouts/footer', './layouts/header';

// 5. Components
@import './components/menu';

// 6. Page-specific styles
