.home {
  &__content {
    @include flexCol;
    gap: 40px;
  }
  &__external-link {
    background-color: $text-color;
    border-radius: $radius;
    padding: 15px;
    &-section {
      align-items: center;
      display: flex;
      gap: 50px;
      justify-content: center;
      margin-bottom: 25px;
    }
  }
}
