.header {
  align-items: center;
  display: flex;
  justify-content: space-between;
  padding: 10px 0 0 10px;
  width: 90%;
  @include min-media-breakpoint($breakpoint-mobileXS) {
    padding: 10px;
  }
  @include min-media-breakpoint($breakpoint-tablet) {
    padding: 20px 20px;
    width: 96%;
  }
}
