.home__section {
  background-color: $text-color;
  overflow: hidden;
  padding: 20px 15px;
  &-title {
    border-bottom: solid 2px $background-color;
    margin-bottom: 20px;
    padding-bottom: 10px;
    width: fit-content;
  }
  a {
    background-color: $background-color;
    border-radius: $radius;
    padding: 10px;
  }
  ul {
    padding-left: 20px;
  }
  &-code {
    background-color: rgb(218, 217, 217);
    padding: 2px 10px;
  }
  @include min-media-breakpoint($breakpoint-tablet) {
    border-radius: $radius;
    padding: 20px 30px;
  }
}
